body{
    background: black;
    font-family: 'Itim', cursive;
  }
  
  .button{
    margin: 0px;
  }
  
  .btn3d {
position: relative;
top: -6px;
border: 0;
transition: all 40ms linear;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 2px;
margin-right: 2px;
}


.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
-moz-outline-style: none;
outline: medium none;
}

.btn3d:active,
.btn3d.active {
top: 2px;
}


  .btn3d.btn-warning {
box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
background-color: #FEAF20;
}

.btn3d.btn-primary {
box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
background-color: #4274D7;
}
.btn3d.btn-danger {
box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
background-color: #D73814;
}

.btn3d.btn-info {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #39B3D7;
}




  @media (max-width: 500px){
    .clm{
      display: flex;
    width:50%;
  
    }
  }