*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
  background: #000;
}
.konten{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forgot-pass{
  width: 400px;
}